/* Import Outfit Google Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root 
{
  --red: rgb(252, 71, 71);
  --black: rgb(16, 20, 30);
  --lightGray: rgb(90, 105, 143);
  --darkGray: rgb(22,29,47);
  --white: rgb(255,255,255);
  --font: "Outfit";
}

body
{
  font-family: var(--font);
  background-color: var(--black);
}

.outfit-font
{
  font-family: var(--font);
}

.font-heading-L
{
  font-size: 32px;
  font-weight: 300;
}

.heading-M
{
  font-size: 24px;
  font-weight: 300;
}

.heading-S
{
  font-size: 24px;
  font-weight: 500;
}

.heading-XS
{
  font-size: 18px;
  font-weight: 500;
}

.body-M
{
  font-size: 15px;
  font-weight: 300;
}

.body-S
{
  font-size: 13px;
  font-weight: 300;
}